.calculator-display {
	background-color: #C937FF;
}

.calculator-keypad {
	background-color: #30FF00;
}

.function-keys {
	background-color: #0CA2E8;
}

.operator-keys {
	background-color: #FF4951;
}

